= form_for @phoenix do |f|
  - if @phoenix.errors.any?
    #error_explanation
      %h2= "#{pluralize(@phoenix.errors.count, "error")} prohibited this phoenix from being saved:"
      %ul
        - @phoenix.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :image_id, "Image"
    = f.select :image_id, @images
  .field
    = f.label :droplet_id, "Current droplet (Optional)"
    = f.select :droplet_id, @droplets, include_blank: true
  .field
    = f.label :floating_ip, "Floating IP (Optional)"
    = f.select :floating_ip, @floating_ips, include_blank: true
  .field
    = f.label :ssh_key_id, "SSH Key (Optional)"
    = f.select :ssh_key_id, @ssh_keys, include_blank: true
  .actions
    = f.submit 'Save'
