.page-header
  %h1 Phoenixes

%table.table.table-responsive
  %thead
    %tr
      %th Phoenix
      %th
      %th
  %tbody
    - @phoenixes.each do |phoenix|
      %tr
        %td= link_to phoenix.name, edit_phoenix_path(phoenix)
        %td
          = form_for phoenix do |f|
            - if phoenix.active?
              = f.hidden_field :on, value: false
              = f.submit 'Turn off', class: ["btn", "btn-danger"], data: { confirm: 'Are you sure?' }
            - elsif phoenix.on? || phoenix.failed?
              = phoenix.status
            - else
              = f.hidden_field :on, value: true
              = f.submit 'Turn on', class: ["btn", "btn-primary"], data: { confirm: 'Are you sure?' }
        %td
          = link_to(phoenix, :method => :delete, :data => { :confirm => 'Are you sure?' }) do
            %span.glyphicon.glyphicon-remove
= link_to "New phoenix", new_phoenix_path
