.page-header
  %h1
    Phoenixes
    = link_to "New phoenix", new_phoenix_path, class: 'btn btn-primary'

.row
  - @phoenixes.each do |phoenix|
    .col-md-4
      .panel.panel-default
        .panel-heading
          .panel-title= link_to phoenix.name, edit_phoenix_path(phoenix)
        .panel-body
          .row
            .col-md-2 Owner
            .col-md-10= phoenix.user.username

          .row
            .col-md-2 IP
            .col-md-10= phoenix.ip

          .row
            .col-md-2 Status
            .col-md-10= phoenix.total_status

          .row
            .col-xs-12
              = form_for phoenix, html: {class: 'phoenix-index-form'} do |f|
                - if phoenix.active?
                  = f.hidden_field :on, value: false
                  = f.submit 'Turn off', class: ["btn", "btn-danger"], data: { confirm: 'Are you sure?' }
                - elsif phoenix.total_status == "Burnt" || phoenix.failed?
                  = f.hidden_field :on, value: true
                  = f.submit 'Turn on', class: ["btn", "btn-primary"], data: { confirm: 'Are you sure?' }
                = link_to("Delete", phoenix, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger')
