%p#notice= notice

%p
  %b Droplet:
  = @phoenix.droplet_id
%p
  %b Image:
  = @phoenix.image_id
%p
  %b Floating ip:
  = @phoenix.floating_ip_id
%p
  %b Name:
  = @phoenix.name

= link_to 'Edit', edit_phoenix_path(@phoenix)
\|
= link_to 'Back', phoenixes_path
