.col-md-offset-2.col-md-8
  .page-header
    %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
    .form-group
      = f.label :email, class: label_classes
      .col-sm-10
        = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password, class: label_classes
      .col-sm-10
        = f.password_field :password, autocomplete: "off", class: 'form-control'
    - if devise_mapping.rememberable?
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            %label
              = f.check_box :remember_me
              Remember me
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit "Log in", { class: submit_classes }
        = render "devise/shared/links"
